OPENAI_API_KEY=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

LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

TAVILY_API_KEY=

SCRAPIN_API_KEY=